<h2>Volunteer Request Canceled</h2>
<h4>Please do not reply to this email.</h4>

<p>You have canceled your request to volunteer for <%= @project.name %> from your ResiTown account <%= @user.email %>.</p>

<p>If this was an error, click <%= link_to 'here', @project %> to go to the project page and make your request again.</p>

<p>Thank you! <br/>
The ResiTown Sacramento team</p>
