<div class="flex flex-col justify-center sm:px-6 lg:px-8">
  <div class="mx-auto w-full max-w-3xl">
    <div class="w-max h-auto items-center content-center justify-center text-center flex"> <div class="w-screen h-96 bg-center bg-no-repeat bg-contain" style="background-image: url('<%= asset_pack_path("media/images/podcast-01.png") %>')"></div></div>
    <p class="mt-8 text-center text-lg leading-5 text-gray-900 max-w">
      ResiTown is working on a podcast! Links, details, and more info will be posted on this page upon completion.
    </p>
    
  </div>

</div>
