<div class="flex flex-col justify-center sm:px-6 lg:px-8">
<div class="container">
<div class="bg-white mt-6 border-2 border-red-300 shadow sm:rounded-lg mb-8">
  <div class="mx-auto w-full text-center max-w-3xl">
        <h1 class="sm:text-3xl tracking-tight leading-tight p-2 font-bold text-gray-700 mt-2">Level Of Exposure Guidelines</h1>
    <div class="w-max h-auto items-center content-center justify-center text-left mb-8 flex">
              <ul class="list-none text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                <li>
                  <h2 class="sm:text-2xl tracking-tight leading-tight mt-2">I: No risk/from home</h2>
                  <ul class="list-disc pl-8">
                    <li>M1, M2, M3, M4</li>
                    <li>Mask production at home</li>
                    <li>Creating cards/posters/videos of encouragement</li>
                    <li>Call center staffing from home</li>
                    <li>Call center staffing if proper social distancing is guaranteed</li>
                    <li>Check in calls to particularly vulnerable patients and/or to staff who were exposed</li>
                  </ul>
                </li>
                <br />
                <li><h2 class="sm:text-2xl tracking-tight leading-tight mt-2">II: Low risk and minimal human contact</h2>
                  <ul class="list-disc pl-8">
                    <li>M1, M2, M3, M4</li>
                  </ul>
                </li>
                <br />
                <li><h2 class="sm:text-2xl tracking-tight leading-tight mt-2">III: Potential for human contact</h2>
                  <ul class="list-disc pl-8">
                    <li>M1, M2, M3, M4</li>
                    <li>Child care needs of “mission-critical on-site” staff during COVID-19 outbreak</li>
                    <li>Meal preparation, distributing food, washing dishes</li>
                    <li>Essential transportation needs for family members</li>
                  </ul>
                </li>
                <br />
                <li><h2 class="sm:text-2xl tracking-tight leading-tight mt-2">IV: Non-clinical but in hospital or office setting</h2>
                  <ul class="list-disc pl-8">
                    <li>M1, M2, M3, M4</li>
                    <li>Staff support in non-clinical dept of hospital or office practice (e.g. information desk)</li>
                    <li>Duties usually performed by hospital volunteers</li>
                  </ul>
                </li>
                <br />
                <li><h2 class="sm:text-2xl tracking-tight leading-tight mt-2">V: Clinical and direct human contact</h2>
                  <ul class="list-disc pl-8">
                    <li>M3, M4</li>
                    <li>Thermal imaging of hospital or office entrants</li>
                    <li>H&P’s, IV’s, blood draws etc</li>
                  </ul>
                </li>
                <ul>
    </div>
  </div>
  </div>
  </div>
</div>


<!--
<span class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">Guidelines</span>
              <ul class="list-none text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                <li>
                  I: No risk/from home
                  <ul class="list-none pl-8">
                    <li>M1, M2, M3, M4</li>
                    <li>Mask production at home</li>
                    <li>Creating cards/posters/videos of encouragement</li>
                    <li>Call center staffing from home</li>
                    <li>Call center staffing if proper social distancing is guaranteed</li>
                    <li>Check in calls to particularly vulnerable patients and/or to staff who were exposed</li>
                  </ul>
                </li>
                <li>II: Low risk and minimal human contact
                  <ul class="list-none pl-8">
                    <li>M1, M2, M3, M4</li>
                  </ul>
                </li>
                <li>III: Potential for human contact
                  <ul class="list-none pl-8">
                    <li>M1, M2, M3, M4</li>
                    <li>Child care needs of “mission-critical on-site” staff during COVID-19 outbreak</li>
                    <li>Meal preparation, distributing food, washing dishes</li>
                    <li>Essential transportation needs for family members</li>
                  </ul>
                </li>
                <li>IV: Non-clinical but in hospital or office setting
                  <ul class="list-none pl-8">
                    <li>M1, M2, M3, M4</li>
                    <li>Staff support in non-clinical dept of hospital or office practice (e.g. information desk)</li>
                    <li>Duties usually performed by hospital volunteers</li>
                  </ul>
                </li>
                <li>V: Clinical and direct human contact
                  <ul class="list-none pl-8">
                    <li>M3, M4</li>
                    <li>Thermal imaging of hospital or office entrants</li>
                    <li>H&P’s, IV’s, blood draws etc</li>
                  </ul>
                </li>
                <ul>
-->